In [1]:
import googlemaps
import pandas as pd

In [2]:
place_id = []

In [3]:
gmaps = googlemaps.Client(key = 'AIzaSyAF6YvPHsukqITQgAOVf1D-xPrf-NYfPz4')

In [4]:
parks = ['Mount Royal Park' , 'La Fontaine Park' , 'Angrignon Park' , 'Jarry Park' , 'René Lévesque Park' , 'Maisonneuve Park'
         , 'Visitation Nature Park' , 'Bois-de-Liesse Nature Park' , 'Dorchester Square' , 'Jeanne-Mance Park',
         'Sir Wilfrid Laurier Park' , 'Lachine Canal Park' , 'Westmount Park' , 'Park Little Italy' , 'Ahuntsic Park' ,
         'La Ronde' , 'Cap-Saint-Jacques Nature Park' , 'FREDERIC-BACK PARK' , 'Square Saint-Louis' , 'pelican park montreal',
         'Père Marquette Park' , 'Parc Jean-Drapeau' , 'Îles-de-Boucherville National Park' , 'Marcel-Laurin Park' , 
         'Parc national dOka'
]

In [5]:
for place_name in parks:
    place_result = gmaps.places(place_name)
    place_id.append(place_result['results'][0]['place_id'])

In [6]:
reviews = []
ratings = []

In [7]:
import urllib.request, json
for ide in place_id:
    for i in range(5):
        with urllib.request.urlopen("https://maps.googleapis.com/maps/api/place/details/json?place_id={0}&language=fr&fields=name,rating,review&key=AIzaSyAF6YvPHsukqITQgAOVf1D-xPrf-NYfPz4".format(ide)) as url:
            review = json.loads(url.read().decode())['result']['reviews'][i]['text']
#             rating = json.loads(url.read().decode())['result']['reviews'][i]['rating']
            reviews.append({
            'reviews' : review
#             'ratings' : rating
        })
#             print(data)

In [8]:
import urllib.request, json
for ide in place_id:
    for i in range(5):
        with urllib.request.urlopen("https://maps.googleapis.com/maps/api/place/details/json?place_id={0}&language=fr&fields=name,rating,review&key=AIzaSyAF6YvPHsukqITQgAOVf1D-xPrf-NYfPz4".format(ide)) as url:
#             review = json.loads(url.read().decode())['result']['reviews'][i]['text']
            rating = json.loads(url.read().decode())['result']['reviews'][i]['rating']
            ratings.append(
#             'reviews' : review
            rating
        )
#             print(data)

In [9]:
df = pd.DataFrame(reviews)

In [10]:
df['ratings'] = ratings

In [11]:
for i in range(len(df)):
    if df.loc[i , 'ratings'] >= 4:
        df.loc[i ,'sentiment'] = 1
    else:
        df.loc[i , 'sentiment'] = 0

In [12]:
reviews_english = []
ratings_english = []

In [13]:
for ide in place_id:
    for i in range(5):
        with urllib.request.urlopen("https://maps.googleapis.com/maps/api/place/details/json?place_id={0}&language=en&fields=name,rating,review&key=AIzaSyAF6YvPHsukqITQgAOVf1D-xPrf-NYfPz4".format(ide)) as url:
            review = json.loads(url.read().decode())['result']['reviews'][i]['text']
#             rating = json.loads(url.read().decode())['result']['reviews'][i]['rating']
            reviews_english.append({
            'reviews' : review
#             'ratings' : rating
        })
#             print(data)

In [14]:
import urllib.request, json
for ide in place_id:
    for i in range(5):
        with urllib.request.urlopen("https://maps.googleapis.com/maps/api/place/details/json?place_id={0}&language=en&fields=name,rating,review&key=AIzaSyAF6YvPHsukqITQgAOVf1D-xPrf-NYfPz4".format(ide)) as url:
#             review = json.loads(url.read().decode())['result']['reviews'][i]['text']
            rating = json.loads(url.read().decode())['result']['reviews'][i]['rating']
            ratings_english.append(
#             'reviews' : review
            rating
        )
#             print(data)

In [15]:
df_english = pd.DataFrame(reviews_english)

In [16]:
df_english['ratings'] = ratings_english

In [18]:
for i in range(len(df_english)):
    if df_english.loc[i , 'ratings'] >= 4:
        df_english.loc[i , 'sentiment'] = 1
    else:
        df_english.loc[i , 'sentiment'] = 0

In [21]:
df

                                               reviews  ratings  sentiment
0    C'était très plaisant, belle vue et beaux sent...        5        1.0
1                             un endroit époustouflant        5        1.0
2                                           Formidable        5        1.0
3                                 Un incontournable...        5        1.0
4                                        Beau panorama        5        1.0
..                                                 ...      ...        ...
120  Très dangereux aucune signalisation dans la pi...        1        0.0
121  Propre mais les employés ne font pas respecter...        3        0.0
122  Quand même bien. J'y ai été l'hiver surtout, e...        3        0.0
123  Très joli parc de la Sépaq, qui est parfait po...        5        1.0
124  Ma première  visite depuis 40 ans, la plage es...        5        1.0

[125 rows x 3 columns]

In [22]:
df_english

                                               reviews  ratings  sentiment
0                                 2400. Dollars please        5        1.0
1    Such an amazing park with the best views of Mo...        5        1.0
2                    Great place to hike and have fun.        5        1.0
3                       The top rated park in Montreal        5        1.0
4                Beautiful mountain, miss you MT Royal        5        1.0
..                                                 ...      ...        ...
120  What a great and beautiful place this is. Nati...        5        1.0
121  This park has a really nice beach, it's well o...        4        1.0
122  I love the beach and appreciate quality. That ...        5        1.0
123  Wonderful parc well maintained. The beach is g...        5        1.0
124  A beautiful parc just far enough away to forge...        5        1.0

[125 rows x 3 columns]

In [27]:
import googletrans
from googletrans import Translator 
translator = Translator()

In [28]:
df['reviews'] = df['reviews'].apply(translator.translate,src='fr',dest='en').apply(getattr, args=('text',))

In [29]:
df['reviews'] = df['reviews'].str.lower()
df['reviews'] = df['reviews'].str.replace('[^\w\s]','')

In [30]:
df_english['reviews'] = df_english['reviews'].str.lower()
df_english['reviews'] = df_english['reviews'].str.replace('[^\w\s]','')

In [31]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
stop_words = (stopwords.words('english'))

[nltk_data] Downloading package stopwords to C:\Users\Abhay
[nltk_data]     Mahajan\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [32]:
df_english['reviews'] = df_english['reviews'].apply(lambda x: ' '.join([word for word in x.split() if word not in (stop_words)]))

In [34]:
from sklearn.model_selection import train_test_split
x_train , y_train = (df_english['reviews'] , df_english['sentiment'])

In [39]:
from sklearn.model_selection import train_test_split
x_train_french , y_train_french = (df['reviews'] , df['sentiment'] )

In [35]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
x = vectorizer.fit_transform(x_train).toarray()
features = vectorizer.get_feature_names()

In [36]:
df_x = pd.DataFrame(x , columns = vectorizer.get_feature_names())
df_x

,04,15,17,18s,1st,2021,2021y,2400,2921,30,...,year,years,yoga,youll,young,youre,youth,youve,zones,zoo
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
121,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
122,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
123,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
124,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
x_train = vectorizer.fit_transform(x_train)

In [38]:
from sklearn.naive_bayes import MultinomialNB
classifier = MultinomialNB()
classifier.fit(x_train , y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [40]:
y_pred = classifier.predict(vectorizer.transform(x_train_french))

In [42]:
from sklearn.metrics import accuracy_score
print('Accuracy score: ', format(accuracy_score(y_train_french , y_pred)))

Accuracy score:  0.832